@import url("fonts/arial/stylesheet");
@import url("fonts/pt-sans/stylesheet");

// colors
$bg: white;
$green: #B1E19B;
$blue: #ACE2F8;
$gray: #DADADA;
$yellow: #FFFBC8;

$title-clr: #333333;
$comment-border: #C4CBCF;
$comment-bg: #F2FBFF;
$date-clr: #808080;
$link-clr: #005DA1;
$btn-clr: #FDD639;
$form-bg: #f2f2f2;

// font
$arial: 'Arial', sans-serif;
$pt-sans: 'PT Sans', sans-serif;

